Source: lib%%LIBNAME%%
Section: libs
Priority: optional
Maintainer: Alexander Borisov <borisov@lexbor.com>
Standards-Version: 4.6.2
Vcs-Git: https://github.com/lexbor/lexbor.git
Vcs-Browser: https://github.com/lexbor/lexbor
Homepage: https://lexbor.com
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.0)

Package: lib%%LIBNAME%%%%SOVERSION%%
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
%%DEPENDS%%Description: Shared "%%NAME%%" library from the Lexbor project.
%%DESCRIPTION%%

Package: lib%%LIBNAME%%-dev
Section: libdevel
Architecture: any
Multi-Arch: same
%%DEPENDS_DEVEL%%Description: Static "%%NAME%%" library and headers from the Lexbor project.
%%DESCRIPTION%%
